:root {
    --raleway: 'raleway';
    --background-gris: #F5F5F5;
    --background-blanco: #FFFFFF;
    --background-azul:#2A7AEA;
    --fuente-gris-claro:#A2A2A2;
    --fuente-blanco:#FFFFFF;
    --fuente-gris-oscuro:#464646;
    --fuente-azul:#2A7AE4;
}

.agregar__producto{
    display: flex;
    flex-direction: column;
    max-width: 559px;
    width: 100%;
    margin: 0 auto;
}

.container h2{
    font-size: 32px;
    line-height: 38px;
    text-align: start;
    margin: 16px 0px;
}

.carga__producto {
    display: flex;
    align-items: center;
}

.carga__producto p{
    margin: 0px 8px;
    font-size: 16px;
}

.arrastrar__imagen{
    max-width: 301px;
    text-align: center;
    background: var(--background-blanco);
    border: 1px dashed var(--fuente-gris-oscuro);
    box-sizing: border-box;
    margin: 0 8px 0 0;
}

.icono__agregar{
    background: url(../images/icon-agregar-imagen.svg);
    margin: 16px auto;
    width: 32px;
    height: 32px;
}

.agregar__mobile{
    display: none;
}

.agregar__imagen p{
    font-size: 14px;
    line-height: 20px;
    color: var(--fuente-gris-oscuro);
    margin: 16px 0px;
}

.computador__imagen{
    max-width: 229px;
}

.file-input::-webkit-file-upload-button {
    visibility: hidden;
    }
    .file-input::before {
    content: 'Busque en su computador';
    display: inline-block;
    color: var(--fuente-azul);
    max-width: 180px;
    width: 100%;
    border: 1px solid var(--fuente-azul);
    border-radius: 3px;
    padding: 16px;
    cursor: pointer;
    text-align: center;
    }
      
.formulario__producto{
    display: flex;
    flex-direction: column;
}

.formulario__producto label{
    background-color: var(--background-blanco);
    margin-top: 16px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 16px;
    color: var(--fuente-gris-claro);
}

.formulario__producto input{
    border: var(--fuente-blanco);
    margin-top: 0;
    padding: 16px;
}


.formulario__producto button{
    padding: 16px;
    background: var(--background-azul);
    color: var(--fuente-blanco);
    border: none;
    margin: 16px 0px;
}

@media screen and (max-width:768px){

    .agregar__producto{
        width: 100%;
        max-width: 1136px;
    }
}

@media screen and (max-width:360px) {
    .agregar__producto h2{
        font-size: 22px;
        line-height: 26px;
    }

    .icono__agregar{
        background: url(../images/banner-image-mobile.png);
        margin: 16px 0;
        width: 32px;
        height: 32px;
    }  

    .arrastrar__imagen {
        max-width: 360px;
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .computador__imagen{
        display: none;
    }

    .arrastrar {
        display: none;
    }

    .opcion{
        display: none
    }
    .agregar__mobile{
        display: block;
    }

    .carga__producto p{
        font-size: 14px;
        line-height: 20px;
        margin: 16px 0;
    }
}